<bf-menu-bar ng-controller="MenuBarCtrl" cart-count="{{getCartCount()}}"></bf-menu-bar>

<div class="container">
  <h1>Bootflix, we got that booty</h1>
  <bf-search-bar></bf-search-bar>

</div>

<!-- <form>
  <div class="form-group">
    <label for="search-title">Search by title:</label>
    <input type="text" name="search-title" ng-model="searchTitle">
  </div>
  <div class="form-group">
    <label for="search-limit">Results shown:</label>
    <select name="search-limit" ng-model="searchLimit">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
  <button class="btn btn-default" type="submit" ng-click="doSearch()">Search</button>
</form>
 -->
