<!-- <ul class="list-group">
  <li class="list-group-item" ng-repeat="movie in movies">

    <div class="thumbnail">
      <img src="{{movie['banner_url']}}">
    </div>

    <div>
      <p><a href="#/movies/{{movie['title'].substring(0, 30)}}">{{movie['title']}}</a> ({{movie['year']}})</p>
      <p>Starring: 
        <span ng-repeat="star in movie.stars" ng-init="name = star['first_name'] + ' ' + star['last_name']"><a href="#/stars/{{name}}">{{name}}</a></span>
      </p>
      <p>Director: {{movie['director']}}</p>
    </div>

    <bf-cartable-button movie-id="{{movie.id}}"></bf-cartable-button>

  </li>
</ul> -->

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Genre(s)</th>
      <th>Star(s)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movie in movies">
      <td>{{movie.id}}</td>
      <td><a href="#/movies/{{movie.title.substring(0, 30)}}">{{movie.title}}</a></td>
      <td>{{movie.year}}</td>
      <td>{{movie.director}}</td>
      <td>N/A</td>
      <td>N/A</td>
      <td><bf-cartable-button movie-id="{{movie.id}}"></bf-cartable-button></td>
    </tr>
  </tbody>
</table>