 <form>
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Search..." ng-model="params.q" autofocus>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" title="Search" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
      <button class="btn btn-default" ng-click="showOptions = !showOptions" ng-class="{active: showOptions}" title="Search options" style="border-left: none"><span class="glyphicon glyphicon-cog"></span></button>
    </span>
  </div>
</form>

<div class="panel panel-default" ng-show="showOptions">
  <div class="panel-body">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" name="title" class="form-control" placeholder="By movie title..." ng-model="params.title">
        </div>
      </div>
      <div class="form-group">
        <label for="year" class="col-sm-2 control-label">Year</label>
        <div class="col-sm-10">
          <input type="text" name="year" class="form-control" placeholder="By movie release year..." ng-model="params.year">
        </div>
      </div>
      <div class="form-group">
        <label for="director" class="col-sm-2 control-label">Director</label>
        <div class="col-sm-10">
          <input type="text" name="director" class="form-control" placeholder="By director name..." ng-model="params.director">
        </div>
      </div>
      <div class="form-group">
        <label for="starFirstName" class="col-sm-2 control-label">Star</label>
        <div class="col-sm-5">
          <input type="text" name="starFirstName" class="form-control" placeholder="By star's first name..." ng-model="params.firstName">
        </div>
        <div class="col-sm-5">
          <input type="text" name="starLastName" class="form-control" placeholder="By star's last name..." ng-model="params.lastName">
        </div>
      </div>
      <div class="form-group">

        <div class="col-sm-offset-2 col-sm-10">

          <button type="submit" class="btn btn-default" ng-click="search()">Search</button>

        </div>

      </div>
    </form>

  </div>
</div>