<ul>
  <li><a href="#/movies?starts_with=0">0</a></li>
  <li><a href="#/movies?starts_with=1">1</a></li>
  <li><a href="#/movies?starts_with=2">2</a></li>
  <li><a href="#/movies?starts_with=3">3</a></li>
  <li><a href="#/movies?starts_with=4">4</a></li>
  <li><a href="#/movies?starts_with=5">5</a></li>
  <li><a href="#/movies?starts_with=6">6</a></li>
  <li><a href="#/movies?starts_with=7">7</a></li>
  <li><a href="#/movies?starts_with=8">8</a></li>
  <li><a href="#/movies?starts_with=9">9</a></li>

  <li><a href="#/movies?starts_with=a">a</a></li>
  <li><a href="#/movies?starts_with=b">b</a></li>
  <li><a href="#/movies?starts_with=c">c</a></li>
  <li><a href="#/movies?starts_with=d">d</a></li>
  <li><a href="#/movies?starts_with=e">e</a></li>
  <li><a href="#/movies?starts_with=f">f</a></li>
  <li><a href="#/movies?starts_with=g">g</a></li>
  <li><a href="#/movies?starts_with=h">h</a></li>
  <li><a href="#/movies?starts_with=i">i</a></li>
  <li><a href="#/movies?starts_with=j">j</a></li>
  <li><a href="#/movies?starts_with=k">k</a></li>
  <li><a href="#/movies?starts_with=l">l</a></li>
  <li><a href="#/movies?starts_with=m">m</a></li>
  <li><a href="#/movies?starts_with=n">n</a></li>
  <li><a href="#/movies?starts_with=o">o</a></li>
  <li><a href="#/movies?starts_with=p">p</a></li>
  <li><a href="#/movies?starts_with=q">q</a></li>
  <li><a href="#/movies?starts_with=r">r</a></li>
  <li><a href="#/movies?starts_with=s">s</a></li>
  <li><a href="#/movies?starts_with=t">t</a></li>
  <li><a href="#/movies?starts_with=u">u</a></li>
  <li><a href="#/movies?starts_with=v">v</a></li>
  <li><a href="#/movies?starts_with=w">w</a></li>
  <li><a href="#/movies?starts_with=x">x</a></li>
  <li><a href="#/movies?starts_with=y">y</a></li>
  <li><a href="#/movies?starts_with=z">z</a></li>
</ul>